#espaces_show{
  margin-top: 0px;
  .banner-img{
    width: 100%;
  }
  .header{
    background-color: white;
    color:lightgray;
    .first{
      margin-top: 10px;
      .img-avatar{
        border: $navbar-profile-border-width solid $navbar-profile-border-color;
        box-shadow: 0 0 2px rgb(200, 200, 200);
        height: 100px;
        margin-right: 10px;
        border-radius: $navbar-profile-radius;
      }
      .header-content{
        margin-top: 35px;
      }
    }
  }
  .content{
    span.fa{
      position: absolute;
      top: 50%;
      margin-top: -10px;
      z-index: 5;
      display: inline-block;
    }
  }
}