#espaces_show{
  margin-top: 0px;

  .banner-img{
    position: relative;
    height: 402px;
    background-size: cover;
    background-position: center;
  }
  .header{
    background-color: white;
    color: #777777;
    .first{
      padding-top: 10px;
      .img-avatar{
        border: $navbar-profile-border-width solid $navbar-profile-border-color;
        box-shadow: 0 0 2px rgb(200, 200, 200);
        height: 100px;
        margin-right: 10px;
        border-radius: $navbar-profile-radius;
      }

      .infos{
        padding-left: 12px;
      }
      @media (max-width: 764px) {
        .infos{
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 12px
        }
      }

    h1{
      font-size: 26px;
      #follow-div{
        float: right;
        font-size: 20px;
        background-color: #36B898;
        color: white;
        padding: 3px 5px;
        border-radius: 4px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        a{
          color:white;
        }

        &:hover{
          background-color: #298E75;
        }
      }
    }

    .edit_my_espace{
      float:right;
    }
    #category{
      background-color: rgba(136, 136, 136, 0.8);
      color: white;
      border-radius: 4px;
      padding: 0px 20px;
      text-align: center;
      float:left;
    }

    }
  }
  .content{
    color: #777777;
    span.fa{
      position: absolute;
      top: 50%;
      margin-top: -10px;
      z-index: 5;
      display: inline-block;
    }

    .card{
      min-height: 100px;
      background-color: white;
      padding: 10px;
      margin-top: 20px;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;


      .title-card{
        text-transform: uppercase;
      }
      .explanations{
        text-align: center;
        h2{
          margin-top: 5px;
          font-size: 25px;
          word-wrap: break-word;
        }
      }
      .description{
        word-wrap: break-word;
        white-space: pre-line;
      }
      form{
        .btn{
          display: block;
          margin: auto;
        }
      }
        .carousel-indicators li{
          cursor: default;
        }
      .carousel-inner{
        background-color: black;
        img{
          margin:auto;
        }
      }
      .like-div{
          width: 35px;
          margin: auto;
          font-size: 35px;


          #create-like-div{
            .fa{
              color: #EEEEEE;
              transition: all 0.5s ease;
              &:hover{
               color: #36B898;
              }
            }
          }
          #delete-like-div{
            .fa{
              color: #36B898;
              transition: all 0.5s ease;
              &:hover{
               color: #298E75;
              }
            }

          }
        }
    }

    .btn-show{
      margin: auto;
      display: block;
      margin-top: 30px;
    }
    a.btn-show{
      display: table;
    }
  }
}