#espaces_new, #espaces_edit{
  .btn-default{
  background-color: lightgrey;
      color: white;
      display: block;
      margin: auto;
    }
    .delete_espace_div{
      background-color: white;
      padding-bottom: 20px;
      border-radius: 2px;
    }
}