#espaces_show{
  margin-top: 0px;

  .banner-img{
     position: relative;
    height: 402px;
    background-size: cover;
  }
  .header{
    background-color: white;
    color: #777777;
    .first{
      margin-top: 10px;
      .img-avatar{
        border: $navbar-profile-border-width solid $navbar-profile-border-color;
        box-shadow: 0 0 2px rgb(200, 200, 200);
        height: 100px;
        margin-right: 10px;
        border-radius: $navbar-profile-radius;
      }

    h1{
      font-size: 26px;
    }

    .edit_my_espace{
      position: absolute;
      left: 300px;
      z-index: 3;
    }
    #category{
      background-color: rgba(136, 136, 136, 0.8);
      color: white;
      border-radius: 4px;
      width: 100px;
      text-align: center;
    }

    }
  }
  .content{
    color: #777777;
    span.fa{
      position: absolute;
      top: 50%;
      margin-top: -10px;
      z-index: 5;
      display: inline-block;
    }

    .card{
      min-height: 100px;
      background-color: white;
      padding: 10px;
      margin-top: 20px;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;


      #description{
        text-transform: uppercase;
      }
      form{
        .btn{
          display: block;
          margin: auto;
        }
      }
    }
    .direction-cta{
      margin: auto;
      display: block;
      margin-top: 30px;
    }
  }
}