<div class="form-create">
  <header>
    <h1>Edit my espace</h1>
  </header>
  <section>
    <%= render 'form' %>
  </section>
  <div class= "text-center delete_espace_div">
    <%= link_to espace_path(@espace), method: :delete,title: t(".confirmation"),  data: { confirm: t('.AreYouSure') } do %>
      <div class="btn btn-danger delete_espace_font">
        <%= t(".destroy") %>
      </div>
    <% end %>
  </div>

<%= link_to 'Show', @espace %>
</div>


