
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="footer">
        <div id="footer-social">
          <ul class='list-inline'>
         <!--    <li><i class="fa fa-facebook-square"></i></li>
            <li><i class="fa fa-twitter-square"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-youtube-square"></i></li> -->
          </ul>
        </div>
        <div id="footer-text" class='text-center'>
          <p><%= t('.contact') %>: hello.artichot@gmail.com </p>
        </div>
        <div class='clear'>
        </div>
      </div>
    </div>
  </div>
</div>