#devise_sessions_new,
#devise_sessions_create,
#devise_registrations_new,
#devise_registrations_edit,
#devise_passwords_new,
#devise_passwords_edit,
#profiles_edit_password{
  background-color: $body-bg;
}


.form-connect {
  max-width: 400px;
  margin: 20px auto 20px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 4px #dedede;
  header{
    padding: 10px 15px;
    color: light-grey;
    background: white;
    border-bottom: 1px solid rgb(215,215,215);
    h2 {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
  section {
    padding: 20px 15px;
    color: #777777;
    font-size: 12px;

    label {
      font-weight: normal;
      color: rgb(200, 200, 200);
      font-size: 15px;
      letter-spacing: 1px;
    }

    .button {
      margin-top: 15px;
      padding: 0px 10px;
      width: 100%;
    }
    .btn-facebook {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      margin-bottom: 15px;
    }
    .btn-social > :first-child {
      padding-top: 4px;
    }
  }
}

.form#reset_password, .form#change_password{
  margin: 60px auto 60px;
}
#devise_registrations_edit{
    section{
      .btn{
      display: block;
      margin: auto;
    }
    .cancel_my_account{
    border-top: 1px solid lightgray;
    margin-top: 12px;
    padding-top: 12px;

    h3{
      margin-top: 11px;
    }

  }
}
}